main{
    justify-content: center;
}

.btnPosts{
    width: 120px;
    cursor: pointer;
    background: black;
    color: azure;
}
.btnPosts:hover{
    background: azure;
    color: black;
    transition: 0.3s;
}